{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main class="container">
    <div class="row">

        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Articles recents</h3>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top : 2rem;">
                {% include 'widget/about.html.twig' %}
                {% include 'widget/categories.html.twig' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
