{% extends 'base.html.twig' %}



{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{article.title}}</h1>

        <hr>

        {{article.content| raw }}
    </div>
{% endblock %}
