<div class="p-4">
    <h4 class="fst-italic">Catégories</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a class="text-decoration-none" href="#">Tutoriel Python</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Tutoriel Symfony</a>
        </li>
    </ol>
</div>